<div class="media" id="item-<%= item.id %>">
   <div class="media-body">
     <h4 class="media-heading">
        <%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
        <%= link_to item.name, item_path(item.id) %>
     </h4>
     <small>
        Assigned to <%= item.user.email %>
        </br>
        <% if Time.now - item.created_at >= 7.days  %>
          Overdued
        <% else %>
          <%= distance_of_time_in_words(Time.now - item.created_at, 7.days, include_seconds: true) %> left to complete
        <% end %>
        </br>
        Created at <%= item.created_at %>
     </small>
   </div>
</div>
